<h1>Available Courses to Purchase</h1>

<% @courses.each do |course| %>
  <div>
    <span><%= course.name %> | </span>
    <%= button_to "Purchase with credit card", student_purchase_course_path(course), method: :post, form: { style: 'display: inline;' } %>
  </div>
  <p></p>
<% end %>